<h1>RxJS Demo</h1>
<button mat-button routerLink="/">home</button>
<button mat-button routerLink="/map">map</button>
<button mat-button routerLink="/merge-all">mergeAll</button>
<button mat-button routerLink="/merge-map">mergeMap</button>
<button mat-button routerLink="/switch-all">switchAll</button>
<button mat-button routerLink="/switch-map">switchMap</button>
<button mat-button routerLink="/behavior-subject">BehaviorSubject</button>
<div>
    <ul id="list"></ul>
</div>
<router-outlet></router-outlet>